<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Stock</title>
    <style>
        p.MsoNormal,
        li.MsoNormal,
        div.MsoNormal {
            margin: 0in;
            margin-bottom: .0001pt;
            font-size: 12.0pt;
            font-family: "Times New Roman", serif;
        }
        
        @page WordSection1 {
            size: 8.5in 11.0in;
            margin: 1.0in 1.0in 1.0in 1.0in;
        }
        
        div.WordSection1 {
            page: WordSection1;
        }
    </style>
</head>

<body lang=EN-US link="#0563C1" vlink="#954F72">
    <div class=WordSection1>
        <p class=MsoNormal style='font-size:11.0pt;font-family:"Calibri",sans-serif'>Dear Quý Khách Hàng,</p>
        <p class=MsoNormal style='font-size:11.0pt;font-family:"Calibri",sans-serif'><i>Dear Valued Customer,</i></p>
        <br />
        <p class=MsoNormal style='font-size:11.0pt;font-family:"Calibri",sans-serif'>Vui lòng xem qua file báo cáo tồn hàng ngày như đính kèm,</p>
        <p class=MsoNormal style='font-size:11.0pt;font-family:"Calibri",sans-serif'><i>Find attached the AJ Total Daily Stock reports</i></p>
        <br />
        <p class=MsoNormal style='font-size:11.0pt;font-family:"Calibri",sans-serif'>Đây là email tự động. Quý khách vui lòng không gửi thư vào địa chỉ này. Mọi vướng mắc liên quan đến dịch vụ, Quý khách liên hệ với Phòng dịch vụ khách hàng của AJ Total bằng cách gửi thư vào địa chỉ <a href="mailto:Operation@ajtotalvn.com">Operation@ajtotalvn.com</a>            hoặc liên hệ số điện thoại (+84) 02835350352.
        </p>
        <p class=MsoNormal style='font-size:11.0pt;font-family:"Calibri",sans-serif'><i>Please do not reply to this automatically-generated email. If you have any questions, please reply AJ Total Customer Service to email address <a href="mailto:Operation@ajtotalvn.com">Operation@ajtotalvn.com</a> or contact via number (+84) 02835350352.</i></p>
        <br />
        <p class=MsoNormal style='font-size:11.0pt;font-family:"Calibri",sans-serif'>Cám ơn Quý khách đã sử dụng dịch vụ của AJ Total!</p>
        <p class=MsoNormal style='font-size:11.0pt;font-family:"Calibri",sans-serif'><i>Thank you for using our services!</i></p>
        <br />
        <p class=MsoNormal style='font-size:11.0pt;font-family:"Calibri",sans-serif'>Trân trọng /<i> Best regards,</i></p>
        <img width="180" height="40" src="https://erp.ajtotalvn.com/logo/ajtotal-logo.png" />
        <img width="1" height="1" src="http://longhau.ajtotalvn.com/api/dso/getlogo?file_name=ajtotal-logo.png&proc=sys_upd_user_readmail&pk=<%= sys_sendmail_log_pk %>" />
        <p class=MsoNormal style='margin: 0em;font-size:7.5pt;font-family:"Calibri",sans-serif;color:#666666'><i>The information contained in this message and any accompanying documents is confidential, may be attorney-client privileged, and is intended only for the use of the intended recipient. It is the property of AJ Total Vietnam. Unauthorized use, disclosure or copying of this message, or any part of it, is strictly prohibited and may be unlawful. If you have received this message in error, please notify the sender immediately by replying to the message and destroying the message and all copies of it, including all attachments. Electronic communication may be susceptible to data corruption, interception and unauthorized tampering and AJ Total Vietnam disclaims all liability of any kind for such actions or any consequences that may arise directly or indirectly there from</i>
        </p>
    </div>
</body>

</html>